<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shangpin.iog.spinnaker.dao.ProductsMapper">

	<resultMap id="ProductsResultMap" type="spinnaker_product">
		<id column="id" property="id" />
		<result column="product_id" property="productId"  />
		<result column="producer_id" property="producerId"  />
		<result column="p_type" property="type"  />
		<result column="season" property="season"  />
		<result column="product_name" property="productNme" />
		<result column="description" property="description"  />
		<result column="category" property="category"  />
		<result column="url" property="url"  />

	</resultMap>
	


	
	
	<sql id="all_products_column">
		id ,
		product_id ,
		producer_id,
		p_type,
        season,
        product_name,
        description,
        category,
        url
	</sql>
	

	<!-- 根据promo_id查询所有的促销商品信息 -->
	<select id="findListByCategoryAndLastDate"  resultMap="ProductsResultMap">
		select
		<include refid="all_products_column"></include>
		from spinaker_sku
        <where>
          <if test="null!=categoryId">
               category = #{categoryId}
          </if>
            <if test="null!=startDate">
                and spidertime >= #{startDate}
            </if>


        </where>
        order by id


	</select>
	

	
	

	


	
</mapper>