/build/
*.classpath
*.project
/.gradle/
/.settings/
.gradle/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/bin/
supplier-product-consumer-service/src/test/java/com/shangpin/supplier/product/consumer/.gitignore
