<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>爬虫列表</title>
<meta name="keywords" content="爬虫列表"/>
<meta name="description" content="爬虫列表"/>


<!-- jqgrid-->
<link rel="icon" type="image/x-icon" href="/static/favicon.ico"></link>
<link href="/css/bootstrap.min14ed.css" rel="stylesheet"/>
<link href="/css/font-awesome.min93e3.css" rel="stylesheet"/>
<link href="/css/jqgrid/ui.jqgridffe4.css" rel="stylesheet"/>
<link href="/css/animate.min.css" rel="stylesheet"/>
<link href="/css/style.min862f.css" rel="stylesheet"/>
<link href="/css/jquery-ui.css" rel="stylesheet"/>

<script src="/js/jquery.min.js"></script>
</head>
<body class="gray-bg">
	<script type="text/javascript" src="/js/h+/jqgrid5/grid.locale-cn.js"></script>
    <script type="text/javascript" src="/js/h+/jqgrid5/jquery.jqGrid.min.js"></script>
	<script type="text/javascript" src="/js/h+/jquery.peity.min.js"></script>
	<script type="text/javascript" src="/js/h+/jquery-migrate-1.4.1.js"></script>
	<script type="text/javascript"
		src="/js/h+/jqgrid/jquery.jqGrid.minffe4.js"></script>
	<div class="jqGrid_wrapper">
		<table id="table_list"></table>
		<div id="pager_list"></div>
	</div>
    <script type="text/javascript" th:inline="javascript"> 
        $(document).ready(function () {
        	/*<![CDATA[*/
        	$.jgrid.defaults.styleUI="Bootstrap";
            $("#table_list").jqGrid({
                url:"/task/getTaskList",
                datatype: "json",
                mtype: "POST",
                height: 520,
                hoverrows: true,
				autowidth:true,
				shrinkToFit:true,
				rownumbers: true,
				rowNum:10,//每页展示条数
				rowList:[5,10,20,30,50],
                page: 1,
                colNames:["UUID","名称","处理数量","状态","开始时间","编辑","强退","删除"],
                colModel: [
                    { name: 'id', key: true, width: 30, editable: false},                   
                    { name:"name",index:"name",editable:false,width:50},
                    { name:"count",index:"count",editable:false,width:30},
                    { name:"state",index:"state",editable:false,width:30},
                    { name:"startTime",index:"startTime",editable:false,width:50},
                    { name:"ordinal",index:"ordinal",editable:false,width:30,
                    	formatter: function (value, grid, rows, state) {
                    		var ordinalStr = "";
                    		if(value == 1){
                    			ordinalStr = "停止";
            				}else if(value == 2){
            					ordinalStr = "开启";
            				}
				        	return "<button class='btn btn-primary edit' value='"+rows.id+"'>"+ordinalStr+"</button>"
									+ "<input type='hidden' value='"+rows.name+"'/>"
				        	}	
                    },
                    { name:"",index:"",editable:false,width:30,
                    	formatter: function (value, grid, rows, state){
                    		return "<button class='btn btn-primary forceQuit' value='"+rows.id+"'>强退</button>"
    						+ "<input type='hidden' value='"+rows.name+"'/>"
                    	}	
                    },
                    { name:"name",index:"name",editable:false,width:30,
                    	formatter: function (value, grid, rows, state){
                    		return "<button class='btn btn-primary delete' value='"+value+"'>删除</button>"
                    	}	
                    },
                ],
                pager: "#pager_list",
                viewrecords: true,
                loadComplete:function(xhr){  
                    //查询为空的处理方式  
                    var rowNum = $("#table_list").jqGrid('getGridParam','records'); 
                    //alert("行数："+rowNum);
                    if (rowNum == '0'){  
                        if($("#norecords").html() == null || $("#norecords").html() == '')  
                            $("#table_list").parent().append("<pre><div id='norecords' style='text:center;padding: 8px 8px;color: red;'>没有查询到符合条件的结果！</div></pre>");  
                        $("#norecords").show();  
                    }else{  
                        $("#norecords").hide();  
                    }  
  
                },
                
            });
            $("#table_list").jqGrid(
        			"navGrid",
        			"#pager_list",
        			{edit:false,add:false,del:false,search:true,refresh:true},
        			{reloadAfterSubmit:true}
    			);
            $(window).bind("resize",function(){
        		var width=$(".jqGrid_wrapper").width();
        		$("#table_list").setGridWidth(width-20)
    		})
			
    		$(".gohome a").attr("href","#");
            /*]]>*/
        });
        
        $(function(){
        	/*<![CDATA[*/
        	$(".delete").live("click",function(){
            	var name = $(this).val();
            	$.post("/task/deleteTask",{
            		name:name
            	},function(msg){
            		if(msg==1){
            			alert("成功！");
            			location.reload();
            		}else{
            			alert("失败！")
            		}
            	},"text")
            	
            });           
        	           
        	$(".edit").live("click",function(){
            	var uuid = $(this).val();
            	var name = $(this).next().val();
            	$.post("/task/editTask",{
            		uuid:uuid,
            		name:name
            	},function(msg){
            		if(msg==1){
            			alert("成功！");
            			location.reload();
            		}else{
            			alert("失败！")
            		}
            	},"text")
            	
            });
        	$(".forceQuit").live("click",function(){
            	var uuid = $(this).val();
            	var name = $(this).next().val();
            	$.post("/task/forceQuitTask",{
            		uuid:uuid,
            		name:name
            	},function(msg){
            		if(msg==1){
            			alert("成功！");
            			location.reload();
            		}else{
            			alert("失败！")
            		}
            	},"text")
            	
            });
        	/*]]>*/
        })

    </script>
    
</body>

</html>
