<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>抓取源列表</title>
<meta name="keywords" content="抓取源列表" />
<meta name="descriptionription" content="抓取源列表" />
<link rel="icon" type="image/x-icon" href="/static/favicon.ico"></link>
<link href="/css/bootstrap.min14ed.css" rel="stylesheet" />
<link href="/css/font-awesome.min93e3.css" rel="stylesheet" />
<link href="/css/jqgrid/ui.jqgridffe4.css" rel="stylesheet" />
<link href="/css/animate.min.css" rel="stylesheet" />
<link href="/css/style.min862f.css" rel="stylesheet" />
<link href="/css/jquery-ui.css" rel="stylesheet" />
<!-- <link href="/css/datepicker3.css" rel="stylesheet"> -->
<script src="/js/jquery.min.js"></script>

</head>

<body class="gray-bg">
	<div class="jqGrid_wrapper">
		<table id="table_list"></table>
		<div id="pager_list"></div>
	</div>
	
	<div class="modal inmodal fade in" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title">创建定时任务</h4>
                                </div>
                                <div class="modal-body">
                                    	规则ID：<input type="text" id="ruleId"/><br/>
                                    	间隔时间：<input type="text" id="quartzTime"/><br/>
                                    	<li class='perli'>
                                    		<a class="J_menuItem" href="http://cron.qqe2.com/" target="blank">
                                    			<span>设置模板</span>
                                    		</a>
                                    	</li>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                                    <button type="button" class="btn btn-primary" id="createQuartz">开启</button>
                                </div>
                            </div>
                        </div>
                    </div>
	
	
	<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog"
		aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content animated bounceInRight">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
					</button>
					<!-- <i class="fa fa-laptop modal-icon"></i> -->
					<h4 class="modal-title">抓取规则</h4>
					<!-- <small class="font-bold">这里可以显示副标题。</small>  -->
				</div>
	
				<div class="modal-body">
					线程数：<select name="threadNum">
						<option value='1'>1</option>
						<option value='2' selected="selected">2（推荐）</option>
						<option value='3'>3</option>
						<option value='4'>4</option>
						<option value='5'>5</option>
					</select>
					失败重试次数：<select name="retryNum">
						<option value='1'>1</option>
						<option value='2' selected="selected">2（推荐）</option>
						<option value='3'>3</option>
					</select>
					睡眠时间：<select name="sleep">
						<option value='1000'>1秒</option>
						<option value='2000'>2秒</option>
						<option value='3000' selected="selected">3秒（推荐）</option>
						<option value='4000'>4秒</option>
						<option value='5000'>5秒</option>
					</select>
					网站请求超时：<select name="timeout">
						<option value='1000'>1秒</option>
						<option value='5000'>5秒</option>
						<option value='10000'>10秒</option>
						<option value='20000'>20秒</option>
						<option value='30000' selected="selected">30秒（推荐）</option>
					</select><br/>
					最大抓取数量：<input type="text" name="maxPageGather" value="100"/>
					网站代理：<select name="proxy">
					</select>
					<!--默认分类：<select name="category">
					</select>
					是否进行nlp处理：<input type="radio" name="nlpFlag" value="1" checked="checked"/>Y&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="radio" name="nlpFlag" value="0"/>N
					是否只抓取首页：<input type="radio" name="gatherFirst" value="1"/>Y&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="radio" name="gatherFirst" value="0" checked="checked"/>N
					-->
					 是否为动态网页：<input type="radio" name="ajaxFlag" value="1" />Y&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="radio" name="ajaxFlag" value="0" checked="checked"/>N
					<br/>
					<a href="http://tool.oschina.net/regex" target="blank">在线正则工具</a>
					列表页链接的正则：<input type="text" name="lieUrlReg"/>
					详情页链接的正则：<input type="text" name="detailUrlReg"/><br/>
					过滤链接正则：<input type="text" name="filterUrlReg"/>
					
					性别：<select name="genderRules">
							<option value="男">男</option>
							<option value="man">man</option>
							<option value="女">女</option>
							<option value="women">women</option>
					</select>
					通道：<select name="channelId">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
					</select>
					
					季节：<input type="text" name="seasonRules" placeholder="某年四季"/><br/>
					
					<font color="red">*多规则以英文@,间隔</font>
					<br/>
					<font color="red">*商品名称——测试必填项</font>
					<div>商品名称的策略：<input type="text" name="proNameStrategy"/>&nbsp;&nbsp;&nbsp;&nbsp;
					<button type="button" class="btn btn-default" name="categoryStrategyBtn">选择</button>
					<button type="button" class="btn btn-default btn-xs" name="categoryStrategyBtn">OR</button>
					<button type="button" class="btn btn-default btn-xs" name="categoryStrategyBtn">AND</button>
					<br/>
					商品名称的规则：<textarea name="proNameRules" rows="2" cols="100">
						
					</textarea></div>
					<br/>
					
					<div>品牌的策略：<input type="text" name="brandStrategy"/>&nbsp;&nbsp;&nbsp;&nbsp;
					<button type="button" class="btn btn-default" name="categoryStrategyBtn">选择</button>
					<button type="button" class="btn btn-default btn-xs" name="categoryStrategyBtn">OR</button>
					<button type="button" class="btn btn-default btn-xs" name="categoryStrategyBtn">AND</button>
					<br/>
					品牌的规则：<textarea name="brandRules" rows="2" cols="100">
						
					</textarea></div>
					<br/>
					
					<div>产地的策略：<input type="text" name="madeStrategy"/>&nbsp;&nbsp;&nbsp;&nbsp;
					<button type="button" class="btn btn-default" name="categoryStrategyBtn">选择</button>
					<button type="button" class="btn btn-default btn-xs" name="categoryStrategyBtn">OR</button>
					<button type="button" class="btn btn-default btn-xs" name="categoryStrategyBtn">AND</button>
					<br/>
					产地的规则：<textarea name="madeRules" rows="2" cols="100">
						
					</textarea></div>
					<br/>
					
					<div>supplierId：<input type="text" name="supplierId"/>&nbsp;&nbsp;&nbsp;&nbsp;</div>
					
					<div>supplierNo：<input type="text" name="supplierNo"/>&nbsp;&nbsp;&nbsp;&nbsp;</div>
					
					<div>类型的策略：<input type="text" name="categoryStrategy"/>&nbsp;&nbsp;&nbsp;&nbsp;
					<button type="button" class="btn btn-default" name="categoryStrategyBtn">选择</button>
					<button type="button" class="btn btn-default btn-xs" name="categoryStrategyBtn">OR</button>
					<button type="button" class="btn btn-default btn-xs" name="categoryStrategyBtn">AND</button>
					<br/>
					类型的规则：<textarea name="categoryRules" rows="2" cols="100">
						
					</textarea></div>
					<br/>
					
					<div>编号的策略：<input type="text" name="spuStrategy"/>&nbsp;&nbsp;&nbsp;&nbsp;
					<button type="button" class="btn btn-default" name="categoryStrategyBtn">选择</button>
					<button type="button" class="btn btn-default btn-xs" name="categoryStrategyBtn">OR</button>
					<button type="button" class="btn btn-default btn-xs" name="categoryStrategyBtn">AND</button>
					<br/>
					编号的规则：<textarea name="spuRules" rows="2" cols="100">
						
					</textarea></div>
					<br/>
					
					<div>材质的策略：<input type="text" name="materialStrategy"/>&nbsp;&nbsp;&nbsp;&nbsp;
					<button type="button" class="btn btn-default" name="categoryStrategyBtn">选择</button>
					<button type="button" class="btn btn-default btn-xs" name="categoryStrategyBtn">OR</button>
					<button type="button" class="btn btn-default btn-xs" name="categoryStrategyBtn">AND</button>
					<br/>
					材质的规则：<textarea name="materialRules" rows="2" cols="100">
						
					</textarea></div>
					<br/>
					
					<div>颜色的策略：<input type="text" name="colorStrategy"/>&nbsp;&nbsp;&nbsp;&nbsp;
					<button type="button" class="btn btn-default" name="categoryStrategyBtn">选择</button>
					<button type="button" class="btn btn-default btn-xs" name="categoryStrategyBtn">OR</button>
					<button type="button" class="btn btn-default btn-xs" name="categoryStrategyBtn">AND</button>
					<br/>
					颜色的规则：<textarea name="colorRules" rows="2" cols="100">
						
					</textarea></div>
					<br/>
					
					<div>尺寸的策略：<input type="text" name="sizeStrategy"/>&nbsp;&nbsp;&nbsp;&nbsp;
					<button type="button" class="btn btn-default" name="categoryStrategyBtn">选择</button>
					<button type="button" class="btn btn-default btn-xs" name="categoryStrategyBtn">OR</button>
					<button type="button" class="btn btn-default btn-xs" name="categoryStrategyBtn">AND</button>
					<br/>
					尺寸的规则：<textarea name="sizeRules" rows="2" cols="100">
						
					</textarea></div>
					<br/>
					
					<div>库存的策略：<input type="text" name="qtyStrategy"/>&nbsp;&nbsp;&nbsp;&nbsp;
					<button type="button" class="btn btn-default" name="categoryStrategyBtn">选择</button>
					<button type="button" class="btn btn-default btn-xs" name="categoryStrategyBtn">OR</button>
					<button type="button" class="btn btn-default btn-xs" name="categoryStrategyBtn">AND</button>
					<br/>
					库存的规则：<textarea name="qtyRules" rows="2" cols="100">
						
					</textarea></div>
					<br/>
					
					<div>国外市场价格的策略：<input type="text" name="foreignPriceStrategy"/>&nbsp;&nbsp;&nbsp;&nbsp;
					<button type="button" class="btn btn-default" name="categoryStrategyBtn">选择</button>
					<button type="button" class="btn btn-default btn-xs" name="categoryStrategyBtn">OR</button>
					<button type="button" class="btn btn-default btn-xs" name="categoryStrategyBtn">AND</button>
					<br/>
					国外市场价格的规则：<textarea name="foreignPriceRules" rows="2" cols="100">
						
					</textarea></div>
					<br/>
					
					<div>国内市场价格的策略：<input type="text" name="domesticPriceStrategy"/>&nbsp;&nbsp;&nbsp;&nbsp;
					<button type="button" class="btn btn-default" name="categoryStrategyBtn">选择</button>
					<button type="button" class="btn btn-default btn-xs" name="categoryStrategyBtn">OR</button>
					<button type="button" class="btn btn-default btn-xs" name="categoryStrategyBtn">AND</button>
					<br/>
					国内市场价格的规则：<textarea name="domesticPriceRules" rows="2" cols="100">
						
					</textarea></div>
					<br/>
					
					<div>售价的策略：<input type="text" name="salePriceStrategy"/>&nbsp;&nbsp;&nbsp;&nbsp;
					<button type="button" class="btn btn-default" name="categoryStrategyBtn">选择</button>
					<button type="button" class="btn btn-default btn-xs" name="categoryStrategyBtn">OR</button>
					<button type="button" class="btn btn-default btn-xs" name="categoryStrategyBtn">AND</button>
					<br/>
					售价的规则：<textarea name="salePriceRules" rows="2" cols="100">
						
					</textarea></div>
					<br/>
					
					<div>商品描述的策略：<input type="text" name="descriptionStrategy"/>&nbsp;&nbsp;&nbsp;&nbsp;
					<button type="button" class="btn btn-default" name="categoryStrategyBtn">选择</button>
					<button type="button" class="btn btn-default btn-xs" name="categoryStrategyBtn">OR</button>
					<button type="button" class="btn btn-default btn-xs" name="categoryStrategyBtn">AND</button>
					<br/>
					商品描述的规则：<textarea name="descriptionRules" rows="2" cols="100">
						
					</textarea></div>
					<br/>
					
					<div>图片链接的策略：<input type="text" name="picsStrategy"/>&nbsp;&nbsp;&nbsp;&nbsp;
					<button type="button" class="btn btn-default" name="categoryStrategyBtn">选择</button>
					<button type="button" class="btn btn-default btn-xs" name="categoryStrategyBtn">OR</button>
					<button type="button" class="btn btn-default btn-xs" name="categoryStrategyBtn">AND</button>
					<br/>
					图片链接的规则：<textarea name="picsRules" rows="2" cols="100">
						
					</textarea></div>
					<br/>
					
					<div>获取尺寸详情的策略：<input type="text" name="measurementStrategy"/>&nbsp;&nbsp;&nbsp;&nbsp;
					<button type="button" class="btn btn-default" name="categoryStrategyBtn">选择</button>
					<button type="button" class="btn btn-default btn-xs" name="categoryStrategyBtn">OR</button>
					<button type="button" class="btn btn-default btn-xs" name="categoryStrategyBtn">AND</button>
					<br/>
					获取尺寸详情的规则：<textarea name="measurementRules" rows="2" cols="100">
						
					</textarea></div>
					<br/>
					
					<font color="red">*XPATH或CSS即可</font>
					<div>页面需点击按钮的策略：<input type="text" name="jsMenuStrategy"/>&nbsp;&nbsp;&nbsp;&nbsp;
					<button type="button" class="btn btn-default" name="categoryStrategyBtn">选择</button>
					<button type="button" class="btn btn-default btn-xs" name="categoryStrategyBtn">OR</button>
					<button type="button" class="btn btn-default btn-xs" name="categoryStrategyBtn">AND</button>
					<br/>
					页面需点击按钮的规则：<textarea name="jsMenuRules" rows="2" cols="100">
						
					</textarea></div>
					<br/>
					
					
					<!-- 正文css：<input type="text" name="contentCss"/><br/>
					正文Xpath: <input type="text" name="contentXpath"/><br/>
					标题关键词过滤：<input type="text" name="titleSkip"/><br/>
					标题去除内容：<input type="text" name="titleFilter"/><br/>
					标题css：<input type="text" name="titleCss"/><br/>
					标题Xpath: <input type="text" name="titleXpath"/><br/>
					分类css：<input type="text" name="categoryCss"/><br/>
					分类Xpath: <input type="text" name="categoryXpath"/><br/>
					作者css：<input type="text" name="authorCss" placeholder="CSS仅支持ID、CLASS属性"/><br/>
					图片css：<input type="text" name="imgCss" placeholder="CSS仅支持ID、CLASS属性"/><br/>
					视频css：<input type="text" name="videoCss"/><br/>
					语言：<select name="language">
							<option value='Chinese'>中文</option>
							<option value='English'>英文</option>
						</select>
					 -->
					模板状态：<select name="status">
						<option value='1'>正常</option>
						<option value='0'>禁止</option>
					</select>
				</div> 
				<div class="modal-footer">
					<button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" id="saveRule">保存</button>
				</div>
			</div>
		</div>
	</div>
	<input type="hidden" id="whiteId"/>
	<input type="hidden" id="spiderRuleId"/>

	<script type="text/javascript" src="/js/h+/jquery-migrate-1.4.1.js"></script>
	<script type="text/javascript" src="/js/h+/jqgrid/jquery.jqGrid.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/h+/jquery.peity.min.js"></script>
	<script type="text/javascript" src="/js/h+/jqgrid5/grid.locale-cn.js"></script>
	<script type="text/javascript"
		src="/js/h+/jqgrid/jquery.jqGrid.minffe4.js"></script>
	<script type="text/javascript" src="/js/h+/content.min.js"></script>
	<script type="text/javascript" src="/js/h+/bootstrap-datepicker.js"></script>


	<script th:inline="javascript">
	/*<![CDATA[*/
        $(document).ready(function(){
        	$.jgrid.defaults.styleUI="Bootstrap";
        	var roleArray = [[${roleArray}]];
        	$("#datepicker").datepicker();
        	$("#table_list").jqGrid(
        			{
        				editurl:"/spider/editWebSite",
        				url:"/spider/getWebSiteList",
        				datatype:"json",
        				mtype: "POST",
        				height:520,
        				hoverrows: true,
        				autowidth:true,
        				shrinkToFit:true,
        				rownumbers: true,
        				rowNum:10,//每页展示条数
        				rowList:[5,10,20,30,50],
        				page: 1,
        				colNames:["序号","网站名称","链接","创建时间","开关","设置规则","定时任务"],
        				colModel:[
        				          {name:"id",index:"id",autowidth:true,align:"center",search:true
        				        	  ,sopt:['eq','ne','lt','le','gt','ge'],defval:0,editable: true
        				          },
        				          {name:"name",index:"name",autowidth:true,align:"center",search:true
        				        	  ,sopt:['eq','ne'],editable: true 
        				          },
        				          {name:"url",index:"url",autowidth:true,align:"center",search:true
        				        	  ,sopt:['eq','ne','bw'],editable: true  
        				          },
        				          {name:"createTime",index:"createTime",autowidth:true,align:"center",search:true
        				        	  ,sopt:['eq','ne']
        				          },
        				          {name:"valid",index:"valid",autowidth:true,align:"center",search:true
        				        	  ,sopt:['eq','ne','nu','nn'],editable: true,
        				        	  formatter: function (value, grid, rows, state) {
           				        		  return rows.valid?"<span class='btn btn-primary'>开</span>":"<span class='btn btn-danger'>关</span>"
           				        	  }
        				        	  ,edittype: "select",
	     		                      	editoptions: {
	     		                             value: "1:开;0:关"
	     		                         }
        				          },
        				          {name:"",index:"",autowidth:true,align:"center",search:true
        				        	  ,sopt:['eq','ne','nu','nn'],
        				        	  formatter: function (value, grid, rows, state) {
        				        		  if(roleArray.indexOf("super_admin")>-1||roleArray.indexOf("admin")>-1){	
        				        			  var disabledFlag = rows.valid=1?"":"disabled=disabled"
                   				        		  return "<button class='btn btn-primary edit' value='"+rows.id+"' data-toggle='modal' data-target='#myModal' "+disabledFlag+">设置规则</button>"
                   										+ "<input type='hidden' value='"+rows.spiderRuleId+"'/>"
        				        		  }else{
        				        			  return "无权限"
        				        		  }
           				        	  }
        				          },
        				          {name:"",index:"",autowidth:true,align:"center",search:true
        				        	  ,sopt:['eq','ne','nu','nn'],
        				        	  	formatter: function (value, grid, rows, state) {
	        				        		  if(roleArray.indexOf("super_admin")>-1||roleArray.indexOf("admin")>-1){	
	        				        			  var disabledFlag = rows.valid=1?"":"disabled=disabled"
	                   				        		  return "<button class='btn btn-primary quartz' value='"+rows.id+"' data-toggle='modal' data-target='#myModal2' "+disabledFlag+">创建任务</button>"
	                   				        	  
	        				        		  }else{
	        				        			  return "无权限"
	        				        		  }
        				        		}
        				          },
        				         ],
        				pager:"#pager_list",
        				viewrecords:true,
        				jsonReader: {  
	        				root:"dataList", page:"currentPage", total:"totalPages", //   很重要 定义了 后台分页参数的名字。
	        				records:"totalCount", repeatitems:false, id : "id"
        				},
        				
        				loadComplete:function(xhr){  
                            //查询为空的处理方式  
                            var rowNum = $("#table_list").jqGrid('getGridParam','records'); 
                            //alert("行数："+rowNum);
                            if (rowNum == '0'){  
                                if($("#norecords").html() == null || $("#norecords").html() == '')  
                                    $("#table_list").parent().append("<pre><div id='norecords' style='text:center;padding: 8px 8px;color: red;'>没有查询到符合条件的结果！</div></pre>");  
                                $("#norecords").show();  
                            }else{  
                                $("#norecords").hide();  
                            }  
          
                        },
                        
        				
        			});
        			$("#table_list").jqGrid(
        			"navGrid",
        			"#pager_list",
        			{edit:true,add:true,del:false,search:true,refresh:true},
                    {
        				editCaption: "修改网站",
                        recreateForm: true,
    					beforeSubmit : function( postdata, form , oper) {
    						if( confirm('确定修改此条记录吗?') ) {
    							return [true,''];
    						} else {
    							return [false, 'You can not submit!'];
    						}
    					},
    					afterSubmit : function(response, postdata) { 
    						var msg = response.responseJSON.status;
    						var id = postdata.id;
    						if("success"==msg){
    							alert("修改成功！");
    							//location.reload();
    							return ["success","修改成功！",id];
    						}else{
    							return ["error","修改失败！",id];
    						}
    						
    					},
                        closeAfterEdit: true,
                        errorTextFormat: function (data) {
                            return 'Error: ' + data.responseText
                        }
                    },
        			{
                        closeAfterAdd: true,
                        recreateForm: true,
                        afterSubmit : function(response, postdata) { 
    						var msg = response.responseJSON.status;
    						if("success"==msg){
    							alert("添加成功！");
    							location.reload();
    							return ["success","添加成功！",0];
    						}else{
    							return ["error","修改失败！",0];
    						}
    					},
                        errorTextFormat: function (data) {
                            return 'Error: ' + data.responseText
                        }
                    },
                    {},
        			{reloadAfterSubmit:true}
    			);
        	$(window).bind("resize",function(){
	        		var width=$(".jqGrid_wrapper").width();
	        		$("#table_list").setGridWidth(width-20)
        		});
        		
        	$(".gohome a").attr("href","#");
        	
        });
        
        $(function(){
        	$(".quartz").live("click",function(){
        		$("#ruleId").val("");
        		$("#quartzTime").val("");
        		var whiteId = $(this).val();
        		$("#whiteId").val(whiteId);
        		$.post("/spider/queryRuleId",{
        			id:whiteId
        		},function(obj){
        			var ruleId = obj.ruleId;
        			var status = obj.status;
        			if(ruleId!=0&&status){
        				$("#quartzTime").attr("readonly",false);
        				$("#createQuartz").attr("disabled",false);
        				$("#ruleId").val(ruleId);
        			}else{
        				$("#quartzTime").attr("readonly",true);
        				$("#createQuartz").attr("disabled",true);
        				alert("请先编辑对应规则");
        			}
        			$("#ruleId").attr("readonly",true);
        		},"json")
        	})
        	
        	$("#createQuartz").click(function(){
        		var spiderRuleId = $("#ruleId").val();
        		if(spiderRuleId.length>0){
        			var time = $("#quartzTime").val();
            		var whiteId = $("#whiteId").val();
            		if(!time.length>0){
            			alert("请填写定时时间");
            		}else{
            			$.post("/quartz/create",{
            				cronExpression:time,
            				whiteId:whiteId,
            				spiderRuleId:spiderRuleId
            			},function(obj){
            				if(obj=="success"){
        						//location.href = "/quartz/toQuartzList";
            					alert("创建成功，请查看任务列表！");
            				}else if(obj=="fail"){
            					alert("创建任务出错，请稍后重试！");
            				}else if(obj=="exist"){
            					alert("该任务已被创建！");
            				}
            				$("#myModal2").hide();
    						$(".modal-backdrop.in").hide();
    						$("body").attr("class","gray-bg");
    						$("body").attr("style","");
            			},"text")
            			
            		}
        		}else{
        			alert("请先编辑对应规则");
        		}
        		
        	})
        	
        	
        	//判断有无规则
        	$(".edit").live("click",function(){
        		/*  data-toggle='modal' data-target='#myModal'*/
        		/*alert("编辑点击");*/
        		$("[name='proxy']").empty();
        		$("[name='category']").empty();
        		$("[name='proxy']").append("<option value='0'>--请选择--</option>");
        		$("[name='category']").append("<option value='0'>--请选择--</option>");
        		var whiteId = $(this).val();
        		$("#whiteId").val(whiteId);
        		var spiderRuleId = $(this).next().val();
        		$("#spiderRuleId").val(spiderRuleId);
        			$.post("/spider/getRuleById",{
        				id:spiderRuleId
        			},function(obj){
        				/**
        				var proxyArray = spiderRules.proxyArray;
                    	var categoryArray = spiderRules.categoryArray;
                    	if(proxyArray.length>0&&proxyArray!='undefined'){
                    		for(var i in proxyArray){
                        		$("[name='proxy']").append("<option value="+proxyArray[i].proxyId+">"+proxyArray[i].proxyHostPort+"</option>");
                        	}
                    	}
            			if(categoryArray.length>0&&categoryArray!='undefined'){
            				for(var i in categoryArray){
                        		$("[name='category']").append("<option value="+categoryArray[i].id+">"+categoryArray[i].name+"</option>");
                        	}
                    	}
                    	**/
        				var spiderRules = obj.spiderRules;
            			if(spiderRuleId!=0){
	        				$("[name='threadNum'] option[value='"+spiderRules.threadNum+"']").attr("selected","selected");
	        				$("[name='retryNum'] option[value='"+spiderRules.retryNum+"']").attr("selected","selected");
	        				$("[name='sleep'] option[value='"+spiderRules.sleep+"']").attr("selected","selected");
	        				$("[name='timeout'] option[value='"+spiderRules.timeout+"']").attr("selected","selected");
	        				$("[name='genderRules'] option[value='"+spiderRules.genderRules+"']").attr("selected","selected");
	        				$("[name='status'] option[value='"+spiderRules.status+"']").attr("selected","selected");
	        				/**$("[name='language'] option[value='"+spiderRules.language+"']").attr("selected","selected");
	        				$("[name='proxy'] option[value='"+spiderRules.proxyId+"']").attr("selected","selected");
	        				$("[name='category'] option[value='"+spiderRules.categoryId+"']").attr("selected","selected");
	        				$("[name='gatherFirst'][value='"+spiderRules.gatherFirst+"']").attr('checked','true');
	        				$("[name='nlpFlag'][value='"+spiderRules.nlpFlag+"']").attr('checked','true');
	        				**/
	        				var ajaxInt = 0;
	        				if(spiderRules.ajaxFlag){
	        					ajaxInt = 1;
	        				}
	        				$("[name='ajaxFlag'][value='"+ajaxInt+"']").attr('checked','true');
	                		$("[name='maxPageGather']").val(spiderRules.maxPageGather);
	                		$("[name='lieUrlReg']").val(spiderRules.lieUrlReg);
	                		$("[name='detailUrlReg']").val(spiderRules.detailUrlReg);
	                		$("[name='filterUrlReg']").val(spiderRules.filterUrlReg);
	                		$("[name='seasonRules']").val(spiderRules.seasonRules);
	                		
	                		$("[name='brandStrategy']").val(spiderRules.brandStrategy);
	                		$("[name='brandRules']").val(spiderRules.brandRules);
	                		
	                		$("[name='madeStrategy']").val(spiderRules.madeStrategy);
	                		$("[name='madeRules']").val(spiderRules.madeRules);
	                		
	                		$("[name='categoryStrategy']").val(spiderRules.categoryStrategy);
	                		$("[name='categoryRules']").val(spiderRules.categoryRules);
	                		
	                		$("[name='brandStrategy']").val(spiderRules.brandStrategy);
	                		$("[name='brandRules']").val(spiderRules.brandRules);
	                		
	                		$("[name='spuStrategy']").val(spiderRules.spuStrategy);
	                		$("[name='spuRules']").val(spiderRules.spuRules);
	                		
	                		$("[name='qtyStrategy']").val(spiderRules.qtyStrategy);
	                		$("[name='qtyRules']").val(spiderRules.qtyRules);
	                		
	                		$("[name='jsMenuStrategy']").val(spiderRules.jsMenuStrategy);
	                		$("[name='jsMenuRules']").val(spiderRules.jsMenuRules);
	                		
	                		$("[name='materialStrategy']").val(spiderRules.materialStrategy);
	                		$("[name='materialRules']").val(spiderRules.materialRules);
	                		
	                		$("[name='colorStrategy']").val(spiderRules.colorStrategy);
	                		$("[name='colorRules']").val(spiderRules.colorRules);
	                		
	                		$("[name='sizeStrategy']").val(spiderRules.sizeStrategy);
	                		$("[name='sizeRules']").val(spiderRules.sizeRules);
	                		
	                		$("[name='proNameStrategy']").val(spiderRules.proNameStrategy);
	                		$("[name='proNameRules']").val(spiderRules.proNameRules);
	                		
	                		$("[name='foreignPriceStrategy']").val(spiderRules.foreignPriceStrategy);
	                		$("[name='foreignPriceRules']").val(spiderRules.foreignPriceRules);
	                		
	                		$("[name='domesticPriceStrategy']").val(spiderRules.domesticPriceStrategy);
	                		$("[name='domesticPriceRules']").val(spiderRules.domesticPriceRules);
	                		
	                		$("[name='salePriceStrategy']").val(spiderRules.salePriceStrategy);
	                		$("[name='salePriceRules']").val(spiderRules.salePriceRules);
	                		
	                		$("[name='descriptionStrategy']").val(spiderRules.descriptionStrategy);
	                		$("[name='descriptionRules']").val(spiderRules.descriptionRules);
	                		
	                		$("[name='picsStrategy']").val(spiderRules.picsStrategy);
	                		$("[name='picsRules']").val(spiderRules.picsRules);
	                		
	                		$("[name='measurementStrategy']").val(spiderRules.measurementStrategy);
	                		$("[name='measurementRules']").val(spiderRules.measurementRules);
	                		$("[name='supplierId']").val(spiderRules.supplierId);
	                		$("[name='supplierNo']").val(spiderRules.supplierNo);
            			}
        			},"json")
        		
        	})
        	
        	//保存规则
        	$("#saveRule").click(function(){
        		var whiteId = $("#whiteId").val();
        		var spiderRuleId = $("#spiderRuleId").val();
        		var threadNum = $("[name='threadNum'] option:selected").val();
        		var retryNum = $("[name='retryNum'] option:selected").val();
        		var sleep = $("[name='sleep'] option:selected").val();
        		var timeout = $("[name='timeout'] option:selected").val();
        		var status = $("[name='status'] option:selected").val();
        		
        		//var proxyId = $("[name='proxy'] option:selected").val();
        		//var categoryId = $("[name='category'] option:selected").val();
        		
        		var ajaxFlag = $("input[name='ajaxFlag']:checked").val();
        		var maxPageGather = $("[name='maxPageGather']").val();
        		
        		var lieUrlReg = $("[name='lieUrlReg']").val();
        		var detailUrlReg = $("[name='detailUrlReg']").val();
        		var filterUrlReg = $("[name='filterUrlReg']").val();
        		var genderRules = $("[name='genderRules']").val();
				var seasonRules = $("[name='seasonRules']").val();
        		        		

        		var brandRules = $("[name='brandRules']").val();
        		var brandStrategy = $("[name='brandStrategy']").val();
        		
        		var madeRules = $("[name='madeRules']").val();
        		var madeStrategy = $("[name='madeStrategy']").val();
        		
        		var categoryRules = $("[name='categoryRules']").val();
        		var categoryStrategy = $("[name='categoryStrategy']").val();
        		
        		var spuRules = $("[name='spuRules']").val();
        		var spuStrategy = $("[name='spuStrategy']").val();
        		
        		var qtyRules = $("[name='qtyRules']").val();
        		var qtyStrategy = $("[name='qtyStrategy']").val();
        		
        		var jsMenuRules = $("[name='jsMenuRules']").val();
        		var jsMenuStrategy = $("[name='jsMenuStrategy']").val();
        		
        		var materialRules = $("[name='materialRules']").val();
        		var materialStrategy = $("[name='materialStrategy']").val();
        		
        		var colorRules = $("[name='colorRules']").val();
        		var colorStrategy = $("[name='colorStrategy']").val();
        		
        		var sizeRules = $("[name='sizeRules']").val();
        		var sizeStrategy = $("[name='sizeStrategy']").val();
        		
        		var proNameRules = $("[name='proNameRules']").val();
        		var proNameStrategy = $("[name='proNameStrategy']").val();
        		
        		var foreignPriceRules = $("[name='foreignPriceRules']").val();
        		var foreignPriceStrategy = $("[name='foreignPriceStrategy']").val();
        		
        		var domesticPriceRules = $("[name='domesticPriceRules']").val();
        		var domesticPriceStrategy = $("[name='domesticPriceStrategy']").val();
        		
        		var salePriceRules = $("[name='salePriceRules']").val();
        		var salePriceStrategy = $("[name='salePriceStrategy']").val();
        		
        		var descriptionRules = $("[name='descriptionRules']").val();
        		var descriptionStrategy = $("[name='descriptionStrategy']").val();
        		
        		var picsRules = $("[name='picsRules']").val();
        		var picsStrategy = $("[name='picsStrategy']").val();
        		
        		var measurementRules = $("[name='measurementRules']").val();
        		var measurementStrategy = $("[name='measurementStrategy']").val();
        		
        		//alert("--"+brandRules+"---"+brandStrategy);
        		var supplierId = $("[name='supplierId']").val();
        		var supplierNo = $("[name='supplierNo']").val();
        		
        		
        		$.post("/spider/saveWebRule",
        				{
        					whiteId:whiteId,
        					spiderRuleId:spiderRuleId,
        					threadNum:threadNum,
        					retryNum:retryNum,
        					sleep:sleep,
        					timeout:timeout,
        					status:status,
        					'ajaxFlag':ajaxFlag,
        					'maxPageGather':maxPageGather,
        					lieUrlReg:lieUrlReg,
        					detailUrlReg:detailUrlReg,
        					filterUrlReg:filterUrlReg,
        					genderRules:genderRules,
        					seasonRules:seasonRules,
        					brandRules:brandRules,
        					brandStrategy:brandStrategy,
        					madeRules:madeRules,
        					madeStrategy:madeStrategy,
        					categoryRules:categoryRules,
        					categoryStrategy:categoryStrategy,
        					spuRules:spuRules,
        					spuStrategy:spuStrategy,
        					qtyRules:qtyRules,
        					qtyStrategy:qtyStrategy,
        					jsMenuRules:jsMenuRules,
        					jsMenuStrategy:jsMenuStrategy,
        					materialRules:materialRules,
        					materialStrategy:materialStrategy,
        					colorRules:colorRules,
        					colorStrategy:colorStrategy,
        					sizeRules:sizeRules,
        					sizeStrategy:sizeStrategy,
        					proNameRules:proNameRules,
        					proNameStrategy:proNameStrategy,
        					foreignPriceRules:foreignPriceRules,
        					foreignPriceStrategy:foreignPriceStrategy,
        					domesticPriceRules:domesticPriceRules,
        					domesticPriceStrategy:domesticPriceStrategy,
        					salePriceRules:salePriceRules,
        					salePriceStrategy:salePriceStrategy,
        					descriptionRules:descriptionRules,
        					descriptionStrategy:descriptionStrategy,
        					picsRules:picsRules,
        					picsStrategy:picsStrategy,
        					measurementRules:measurementRules,
        					measurementStrategy:measurementStrategy,
        					supplierId:supplierId,
        					supplierNo:supplierNo
        					
        				}
        				 ,function(msg){
        					//alert(msg);
        					if(msg==1){
        						alert("规则设定完毕！");
        						$("#myModal").hide();
        						$(".modal-backdrop.in").hide();
        						$("body").attr("class","gray-bg");
        						$("body").attr("style","");
        					}else{
        						alert("失败！");
        					}
        					
        			},"json"
        		)
        		
        		
        	})
        	
        });
        
        /*]]>*/
    </script>
</body>
</html>
