<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shangpin.iog.product.dao.BuEpRuleMapper">
	<resultMap id="buEpRuleResultMap" type="iog_buEpRule">
        <result column="BUID" property="buId"  />
        <result column="SUPPLIERID" property="supplierId"  />
        <result column="BU" property="bu"  />        
        <result column="EP_FIELD" property="epField"  />
        <result column="ISEXPORT" property="isexport"  />
        <result column="ISPECIAL" property="ispecial"  />
        <result column="SPECLASS" property="speClass"  />
	</resultMap>
	<sql id="all_buEpRule_column">
		BUID,
		SUPPLIERID,
		BU,		
		EP_FIELD,
		ISEXPORT,
		ISPECIAL,
		SPECLASS
	</sql>
	<select id="findBuEpRuleListBySupplierId" resultMap="buEpRuleResultMap">
		select 
		<include refid="all_buEpRule_column"></include>
		from BU_EP_RULE
		<where>
			<if test="null != bu">
				BU = #{bu}
			</if>
			<if test="null != supplierId">
				and SUPPLIERID = #{supplierId}
			</if>
		</where>
	</select>	
	<select id="findAllBus" resultType="java.lang.String">
		select distinct BU from BU_EP_RULE
	</select>
	<select id="findAllSuppliersByBu" resultType="java.lang.String">
		select distinct SUPPLIERID from BU_EP_RULE
		where BU = #{bu}
	</select>
</mapper>