<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shangpin.iog.product.dao.CsvSupplierInfoMapper">

	<resultMap id="csvSupplierResultMap" type="iog_csvSupplier">

        <result column="SUPPLIERID" property="supplierId"  />
        <result column="SUPPLIERNO" property="supplierNo"  />
        <result column="CRONTIME" property="crontime"  />
        <result column="FETCHURL" property="fetchUrl"  />
        <result column="STATE" property="state"  />
        <result column="CLASSPATH" property="classPath"  />
        <result column="DATATYPE" property="dataType"  />
        <result column="FILEPATH" property="filePath"  />        
        <result column="TOMAPCONDITION" property="toMapCondition"  />
        <result column="SEP" property="sep"  />
        <result column="XMLSKUTAG" property="xmlSkuTag"  />
        <result column="XMLSPUTAG" property="xmlSpuTag"  />
        <result column="PICFLAG" property="picFlag"  />
        <result column="PICPATH" property="picPath"  />

	</resultMap>

	
	<sql id="all_csvSupplier_column">
		SUPPLIERID,
		SUPPLIERNO,
		CRONTIME,
		FETCHURL,
		STATE,
		CLASSPATH,
		DATATYPE,
		FILEPATH,
		TOMAPCONDITION,
		SEP,
		XMLSKUTAG,
		XMLSPUTAG,
		PICFLAG,
		PICPATH
	</sql>
	
	<insert id="save" parameterType="iog_csvSupplier">
		insert into CSV_SUPPLIER_INFO(
			SUPPLIERID,
			SUPPLIERNO,
			CRONTIME,
			FETCHURL,
			STATE,
			CLASSPATH,
			DATATYPE,
			FILEPATH,
			TOMAPCONDITION,
			SEP,
			XMLSKUTAG,
			XMLSPUTAG,
			PICFLAG,
			PICPATH
		)values(
			#{supplierId},
			#{supplierNo},
			#{crontime},
			#{fetchUrl},
			#{state},
			#{classPath},
			#{dataType},
			#{filePath},
			#{toMapCondition},	
			#{sep},
			#{xmlSkuTag},
			#{xmlSpuTag},
			#{picFlag},
			#{picPath}
		)
		
	</insert>

   
    <select id="findAllCsvSuppliers" resultMap="csvSupplierResultMap">
        select
        <include refid="all_csvSupplier_column"></include>

        from CSV_SUPPLIER_INFO
        
    </select>
    
    <select id="findCsvSuppliersByState" resultMap="csvSupplierResultMap">
    	select
        <include refid="all_csvSupplier_column"></include>

        from CSV_SUPPLIER_INFO
        <where>
        	<if test="state != null">STATE = #{state}</if>
        </where>
    </select>
    
    <update id="update" parameterType="iog_csvSupplier">
    	update CSV_SUPPLIER_INFO
    	<set>
    		CRONTIME = #{crontime},
    		FETCHURL = #{fetchUrl},
    		STATE = #{state},
    		CLASSPATH = #{classPath},
			DATATYPE = #{dataType},
			FILEPATH = #{filePath},
			TOMAPCONDITION = #{toMapCondition},
			SEP = #{sep},
			XMLSKUTAG = #{xmlSkuTag},
			XMLSPUTAG = #{xmlSpuTag},
			PICFLAG = #{picFlag},
			PICPATH = #{picPath}
    	</set>
    	where SUPPLIERID = #{supplierId}
    </update>
    
    <delete id="deleteBySupplierId">
    	delete from CSV_SUPPLIER_INFO where SUPPLIERID = #{supplierId}
    </delete>
	
</mapper>