<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shangpin.iog.product.dao.PriceCountDetailMapper">

	<resultMap id="countPriceMap" type="iog_count_price">
		<result column="SUPPLIER_ID" property="supplierId"  />
		<result column="SUPPLIER_NAME" property="supplierName"  />
	</resultMap>
	
	
	<sql id="all_sku_price_column">
		SUPPLIER_ID ,
		SKU_ID,
        MARKET_PRICE,
        SUPPLIER_PRICE,
        CREATE_TIME
	</sql>

    <select id="findAllOfAvailabled"  resultMap="countPriceMap" parameterType="java.util.Map">
        select
        *
        from PRICE_COUNT_DETAIL
        <where>
                FLAG = #{flag}
        </where>

    </select>
</mapper>