<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shangpin.iog.product.dao.ProductPictureMapper">

 <resultMap id="PictureResultMap" type="iog_product_pic">
  <id column="ID" property="id" />
  <result column="SUPPLIER_ID" property="supplierId" />
  <result column="SKU_ID" property="skuId" />
  <result column="PIC_URL" property="picUrl" />



 </resultMap>





 <sql id="all_picture_column">
  ID ,
  SUPPLIER_ID ,
  SKU_ID,
  PIC_URL
 </sql>


 <insert id="save" parameterType="iog_product_pic">



  insert into SKU_PICTURE(

  <include refid="all_picture_column"></include>
  )
  values( #{id}, #{supplierId}, #{skuId}, #{picUrl})

 </insert>

 <insert id="saveList" parameterType="java.util.List">



  insert into SKU_PICTURE(

  <include refid="all_picture_column"></include>
  )
  values
  <foreach collection="list" index="index" item="item"
   separator=",">
   (#{item.id}, #{item.supplierId}, #{item.skuId}, #{item.picUrl}
   )
  </foreach>

 </insert>

 <select id="findBySupplierAndSku" resultMap="PictureResultMap">
  select
  <include refid="all_picture_column"></include>

  from SKU_PICTURE
  where
  SUPPLIER_ID = #{supplier}

  and SKU_ID = #{sku}

 </select>









</mapper>