<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shangpin.iog.product.dao.SkuPriceMapper">

	<resultMap id="skuPriceMap" type="iog_sku_price">
		<result column="SUPPLIER_ID" property="supplierId"  />
		<result column="SKU_ID" property="skuId"  />
        <result column="MARKET_PRICE" property="marketPrice" />
		<result column="SUPPLIER_PRICE" property="supplierPrice" />




	</resultMap>
	


	
	
	<sql id="all_sku_price_column">
		SUPPLIER_ID ,
		SKU_ID,
        MARKET_PRICE,
        SUPPLIER_PRICE,
        CREATE_TIME
	</sql>


    <insert id="save"  parameterType="iog_sku_price" >
        insert into SKU_PRICE(

        <include refid="all_sku_price_column"></include>
        )
        values(
             #{supplierId}, #{skuId},
           #{marketPrice}, #{supplierPrice} ,#{createTime}
        )


    </insert>

    <update id="updatePrice" parameterType="iog_sku_price" >
          update SKU_PRICE
          <set>
              <if test="marketPrice != null"> MARKET_PRICE = #{marketPrice}, </if>
              <if test="supplierPrice != null"> SUPPLIER_PRICE = #{supplierPrice},</if>
              <if test="updateTime != null"> UPDATE_TIME = #{updateTime}</if>
         </set>
          where  SUPPLIER_ID = #{supplierId}   and   SKU_ID = #{skuId}

    </update>

    <select id="findListByMap"  resultMap="skuPriceMap" parameterType="java.util.Map">
        select
        *
        from SKU_PRICE
        <where>

            <if test="null!=supplierId">
                SUPPLIER_ID = #{supplierId}
            </if>
            <if test="null!=skuId">
                and SKU_ID = #{skuId}
            </if>


        </where>



    </select>


    <select id="getSkuPrice"  resultMap="skuPriceMap" >
        select
        SUPPLIER_ID,SKU_ID,MARKET_PRICE,SUPPLIER_PRICE
        from SKU_PRICE
        <where>

            <if test="null!=supplierId">
                SUPPLIER_ID = #{supplierId}
            </if>
            <if test="null!=skuId">
                and SKU_ID = #{skuId}
            </if>


        </where>



    </select>
	
</mapper>