<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shangpin.iog.product.dao.SkuRelationMapper">

	<resultMap id="skuMap" type="iog_sku_relation">

		<result column="SUPPLIER_ID" property="supplierId"  />
        <result column="SOP_NO" property="sopNo"  />

		<result column="SOP_SKU_ID" property="sopSkuId"  />
		<result column="SUPPLIER_SKU_ID" property="supplierSkuId" />

        <result column="CREATE_TIME" property="createTime" />



	</resultMap>
	


	
	
	<sql id="all_sku_column">

		SUPPLIER_ID ,
		SOP_NO,
		SOP_SKU_ID,
		SUPPLIER_SKU_ID,
        CREATE_TIME
	</sql>


    <insert id="save"  parameterType="iog_sku_relation" >



        insert into SKU_RELATION(

        <include refid="all_sku_column"></include>
        )
        values(
           #{supplierId}, #{sopNo}, #{sopSkuId},
            #{supplierSkuId},#{createTime}
        )


    </insert>

    <select id="getSkuRelationListBySupplierId"  resultMap="skuMap">
        select
        <include refid="all_sku_column"></include>
        from SKU_RELATION
        <where>
            <if test="null!=supplier">
                SUPPLIER_ID = #{supplier}
            </if>

        </where>



    </select>


    <select id="getSkuRelationBySopSkuId"  resultType="iog_sku_relation">
        select
        <include refid="all_sku_column"></include>
        from SKU_RELATION

        where        SOP_SKU_ID = #{sopSkuId}


    </select>

	
	

	


	
</mapper>