<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shangpin.iog.product.dao.SpecialSkuMapper">

<resultMap id="skuMap" type="iog_specialSku">
		<id column="ID" property="id" />
		<result column="SUPPLIER_SKU_ID" property="supplierSkuId"  />
	</resultMap>


    <insert id="save"  parameterType="iog_specialSku" >

        insert into SPECIAL_SKU(
		SUPPLIER_ID,SUPPLIER_SKU_ID,CREATE_TIME
        )
        values
            (#{supplierId}, #{supplierSkuId}, #{createTime})

    </insert>
    
    <select id="findListSkuBySupplierId"  resultMap="skuMap" parameterType="java.lang.String">
	        select
	        SUPPLIER_SKU_ID
	        from SPECIAL_SKU
	        <where>
	            <if test="null!=supplierId">
	                SUPPLIER_ID = #{supplierId}
	            </if>
	        </where>
	    </select>
    <select id="checkBySupplierIdAndSkuId"  resultMap="skuMap" parameterType="java.lang.String">
	        select
	        SUPPLIER_SKU_ID
	        from SPECIAL_SKU
	        <where>
	            <if test="null!=supplierId">
	                SUPPLIER_ID = #{supplierId}
	            </if>
	             <if test="null!=skuId">
	               and SUPPLIER_SKU_ID = #{skuId}
	            </if>
	        </where>
	    </select>
    <delete id="delete">
    
    	 DELETE  from SPECIAL_SKU 
    	  <where> 
    	  		<if test="null!=supplierId">
	                SUPPLIER_ID = #{supplierId}
	            </if>
	            <if test="null!=supplierId">
	               and SUPPLIER_SKU_ID = #{supplierSkuId}
	            </if>
        </where>
    </delete>

</mapper>
