<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shangpin.iog.product.dao.StockUpdateMapper">
		
	<resultMap id="suMap" type="iog_stockUpdate">
        <result column="SUPPLIER_ID" property="supplierId" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="ERRORNUM" property="errorNum" />
        <result column="RIGHTNUM" property="rightNum" />
        <result column="TOTALNUM" property="totalNum" />
	</resultMap>
		
	<insert id="saveStockUpdateDTO" parameterType="iog_stockUpdate">
		insert into UPDATE_STOCK (SUPPLIER_ID,UPDATE_TIME,ERRORNUM,RIGHTNUM)
		values (#{supplierId},#{updateTime},#{errorNum},#{rightNum})
	
	</insert>

    <update id="updateStockStatus" parameterType="iog_stockUpdate" >
          update UPDATE_STOCK
          <set>
 				<if test="updateTime!=null">
              UPDATE_TIME = #{updateTime},
              </if>              
              <if test="errorNum!=null">
              	ERRORNUM = #{errorNum},
              </if>
              <if test="rightNum!=null">
              	RIGHTNUM = #{rightNum},
              </if>
              <if test="totalNum!=null">
              	TOTALNUM = #{totalNum}
              </if>
          </set>
          where  SUPPLIER_ID = #{supplierId}
    </update>
    
    <select id="getAllData" resultMap="suMap">
    	select SUPPLIER_ID,UPDATE_TIME,ERRORNUM,RIGHTNUM,TOTALNUM
    	from UPDATE_STOCK
    </select>
    
     <update id="updateStockTime" parameterType="iog_stockUpdate" >
          update UPDATE_STOCK
          <set>
              UPDATE_TIME = #{updateTime}
          </set>
          where  SUPPLIER_ID = #{supplierId}
    </update>
</mapper>