<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shangpin.iog.product.dao.SupplierMapper">

 <resultMap id="resultMap" type="iog_supplier">

  <result column="SUPPLIER_ID" property="supplierId" />
  <result column="SUPPLIER_NAME" property="supplierName" />
  <result column="SUPPLIER_STATE" property="state" />



 </resultMap>





 <sql id="all_column">

  SUPPLIER_ID ,
  SUPPLIER_NAME,
  SUPPLIER_STATE
 </sql>


 <insert id="save" parameterType="iog_supplier">



  insert into SUPPLIER(

  <include refid="all_column"></include>
  )
  values(  #{supplierId}, #{supplierName}, #{state})

 </insert>

 <insert id="saveList" parameterType="java.util.List">



  insert into SUPPLIER(

  <include refid="all_column"></include>
  )
  values
  <foreach collection="list" index="index" item="item"
   separator=",">
   (#{item.supplierId}, #{item.supplierName}, #{item.state}
   )
  </foreach>

 </insert>

 <select id="findByState" resultMap="resultMap">
  select
  <include refid="all_column"></include>

  from SUPPLIER
     <where>
     <if test="null!=state">
         SUPPLIER_STATE = #{state}
     </if>
     </where>



 </select>



<select id="findBysupplierId" resultMap="resultMap">
  select
  <include refid="all_column"></include>

  from SUPPLIER
     <where>
     <if test="null!=supplierId">
         SUPPLIER_ID = #{supplierId}
     </if>
     </where>
 </select>





</mapper>