<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shangpin.iog.product.dao.TokenMapper">

	<resultMap id="tokenMap" type="iog_token">
		<id column="ID" property="id" />
        <result column="REFRESH_TOKEN" property="refreshToken" />
        <result column="ACCESS_TOKEN" property="accessToken" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="EXPIRETIME" property="expireTime" />
        <result column="SUPPLIERID" property="supplierId" />
	</resultMap>
	
	
<!-- 	<sql id="all_spu_column"> -->
<!-- 		ID , -->
<!-- 		SUPPLIER_ID , -->
<!-- 		SPU_ID, -->
<!-- 		SPU_NAME,CATEGORY_GENDER, -->
<!--         CATEGORY_ID,CATEGORY_NAME,SUB_CATEGORY_ID,SUB_CATEGORY_NAME, -->
<!--         BRAND_ID,BRAND_NAME, -->
<!--         SEASON_ID,SEASON_NAME, -->
<!--         PIC_URL,MATERIAL,PRODUCT_ORIGIN,CREATE_TIME,LAST_TIME -->
<!-- 	</sql> -->

    <insert id="save"  parameterType="iog_token" >


        insert into TOKEN(ID ,
        REFRESH_TOKEN ,
        ACCESS_TOKEN,
        CREATE_DATE,EXPIRETIME,SUPPLIERID)
        values(
            #{id}, #{refreshToken}, #{accessToken}, #{createDate},#{expireTime},#{supplierId}
        )
    </insert>

	<select id="findToken"  resultMap="tokenMap" parameterType="java.lang.String">
        select
        REFRESH_TOKEN
        from TOKEN
        <where>
            <if test="null!=accessToken">
                ACCESS_TOKEN = #{accessToken}
            </if>
            <if test="null!=supplierId">
                SUPPLIERID = #{supplierId}
            </if>
        </where>
    </select>
      <update id="updateToken" parameterType="iog_token" >
          update TOKEN
          <set>
              <if test="refreshToken != null"> REFRESH_TOKEN = #{refreshToken}, </if>
              <if test="accessToken != null"> ACCESS_TOKEN = #{accessToken}, </if>
              <if test="createDate != null"> CREATE_DATE = #{createDate},</if>
              <if test="expireTime != null"> EXPIRETIME = #{expireTime}, </if>
              <if test="supplierId != null"> SUPPLIERID = #{supplierId}, </if>
          </set>
          where  SUPPLIERID = #{supplierId}

    </update>
</mapper>