<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shangpin.iog.product.dao.SpuMapper">

	<resultMap id="spuMap" type="iog_spu">
		<id column="ID" property="id" />
		<result column="SUPPLIER_ID" property="supplierId"  />
		<result column="SPU_ID" property="spuId"  />
		<result column="SPU_NAME" property="spuName"  />
		<result column="CATEGORY_ID" property="categoryId"  />
		<result column="CATEGORY_NAME" property="categoryName" />
		<result column="BRAND_ID" property="brandId"  />
		<result column="BRAND_NAME" property="brandName"  />
		<result column="SEASON_ID" property="seasonId"  />
        <result column="SEASON_NAME" property="seasonName"/>
        <result column="PIC_URL" property="picUrl"  />
        <result column="MATERIAL" property="material" />
        <result column="PRODUCT_ORIGIN" property="productOrigin" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="LAST_TIME" property="lastTime" />



	</resultMap>
	


	
	
	<sql id="all_spu_column">
		ID ,
		SUPPLIER_ID ,
		SPU_ID,
		SPU_NAME,
        CATEGORY_ID,CATEGORY_NAME,
        BRAND_ID,BRAND_NAME,
        SEASON_ID,SEASON_NAME,
        PIC_URL,MATERIAL,PRODUCT_ORIGIN,CREATE_TIME,LAST_TIME
	</sql>

    <insert id="save"  parameterType="iog_spu" >



        insert into spu(ID ,
        SUPPLIER_ID ,
        SPU_ID,
        SPU_NAME,
        CATEGORY_ID,CATEGORY_NAME,
        BRAND_ID,BRAND_NAME,
        SEASON_ID,SEASON_NAME,
        PIC_URL,MATERIAL,PRODUCT_ORIGIN,CREATE_TIME,LAST_TIME)
        values(
            #{item.id}, #{item.supplierId}, #{item.spuId}, #{item.spuName},
            #{item.categoryId}, #{item.categoryName}, #{item.brandId}, #{item.brandName},
            #{item.seasonId} , #{item.seasonName}, #{item.picUrl}, #{item.material}, #{item.productOrigin},
            #{item.createTime}, #{item.lastTime}
        )


    </insert>




    <!-- batch save spu  -->
    <insert id="saveList"  parameterType="java.util.List" >



        insert into spu(ID ,
        SUPPLIER_ID ,
        SPU_ID,
        SPU_NAME,
        CATEGORY_ID,CATEGORY_NAME,
        BRAND_ID,BRAND_NAME,
        SEASON_ID,SEASON_NAME,
        PIC_URL,MATERIAL,PRODUCT_ORIGIN,CREATE_TIME,LAST_TIME)
        values
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.id}, #{item.supplierId}, #{item.spuId}, #{item.spuName},
            #{item.categoryId}, #{item.categoryName}, #{item.brandId}, #{item.brandName},
            #{item.seasonId} , #{item.seasonName}, #{item.picUrl}, #{item.material}, #{item.productOrigin},
            #{item.createTime}, #{item.lastTime})
        </foreach>

    </insert>

	


	
</mapper>