<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shangpin.iog.product.dao.DiscountHistoryMapper">

	<resultMap id="DiscountHistoryMap" type="iog_discount_history">
        <id column="ID" property="id" />
		<result column="SUPPLIER_ID" property="supplierId"  />
		<result column="CATEGORY" property="category"  />
		<result column="BRAND" property="brand"  />
		<result column="DISCOUNT" property="discount"  />
        <result column="CREATE_TIME" property="createTime" />

	</resultMap>
	


	
	
	<sql id="all_discount_history_column">
        ID,
		SUPPLIER_ID ,
		CATEGORY,
		BRAND,
		DISCOUNT,
		CREATE_TIME,
	</sql>


    <insert id="save"  parameterType="iog_discount_history" >



        insert into DISCOUNT_HISTORY(

        <include refid="all_discount_history_column"></include>
        )
        values(
           #{id},#{supplierId}, #{category}, #{brand},
            #{discount},#{createTime}
        )


    </insert>

    <select id="findAllBySupplierID" resultMap="DiscountHistoryMap" parameterType="java.lang.String">
        select
        <include refid="all_discount_history_column"></include>

        from DISCOUNT_HISTORY
       <where>
           <if test="null!=supplierId">
               SUPPLIER_ID = #{supplierId}
           </if>
       </where>

    </select>

    
</mapper>